<header class="pt-5 pb-3 bg-image-full">
  <div class="text-center my-5">
    <div class="text-center text-gray">
      <h1 class="display-4 fw-bolder">Moja najdraža jela</h1>
      <p class="lead fw-normal text-gray mb-0">Sve Vaše omiljene stavke menija</p>
      <p class="lead fw-normal text-gray mb-0 mx-1">Maksimalan broj stavki po stranici:
        <input type="number" class="form-control" min=1 max=8 [(ngModel)]="itemsPerPage" style="width: 55px; display: inline-block; background-color: transparent; color: black" (change)="ucitajStavke() ">
      </p>
    </div>
  </div>
</header>

<section class="page-section bg-light py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <ul class="nav site-tab-nav">
        <li *ngFor ="let grupa of meniGrupe" class="nav-item">
          <a class="nav-link" style="color: black" (click)="ucitajOmiljeneStavke(grupa.naziv)" [ngClass]="this.trenutnaKategorija == grupa.naziv ? 'active' : ''">{{grupa.naziv}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div    class="container px-4 px-lg-5 mt-5">
    <h3 *ngIf ="omiljeneStavke == null || omiljeneStavke?.length == 0" class="animate__animated animate__fadeIn display-7 fw-bolder text-center" style="color:gray">Nemate omiljenih stavki u ovoj kategoriji</h3>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div *ngFor="let stavka of omiljeneStavke" class="animate__animated animate__fadeIn col mb-4">
        <div class="card h-100">
          <!-- Sale badge-->
          <div  *ngIf="stavka.izdvojeno" class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Izdvojeno</div>
          <!-- Product image-->
          <img class="card-img-top" src="{{stavka.slika}}" alt="Nije učitana slika" style="height: 350px"/>
          <!-- Product details-->
          <div class="card-body p-4" style="padding-bottom: 5px !important;">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{stavka.naziv}}</h5>
              <span class="text-muted">{{stavka.opis}}</span>
              <br/>
              <!-- Product reviews-->
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div *ngFor = "let item of createRange(stavka.ocjena)"class="bi-star-fill" ></div>

              </div>
              <!-- Product price-->
              <span *ngIf="stavka.izdvojeno" class="text-muted text-decoration-line-through">{{stavka.cijena}} KM</span>
              <span *ngIf="stavka.izdvojeno"> {{stavka.snizenaCijena}} KM</span>
              <span *ngIf="!stavka.izdvojeno">{{stavka.cijena}} KM</span>
            </div>
          </div>
          <ul class="list-group list-group-flush" style="border: none">
            <li class="list-group-item text-center" style="border: none"><a class="btn btn-outline-dark mt-auto" (click)="dodajUKorpu(stavka)">
              <i class="bi bi-cart-plus-fill"></i>
              Dodaj u korpu</a></li>
            <li class="list-group-item text-center" style="border: none"><a class="btn btn-outline-dark mt-auto" (click)="obrisiStavku(stavka)"><i class="bi bi-trash-fill"></i>  Ukloni iz omiljenog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination p5">
    <ul class="mx-auto">
      <a *ngFor="let page of createRangeStranica()" (click)="ucitajStranicu(page)" [ngClass]="this.currentPage == page ? 'is-active' : ''"><li></li></a>
    </ul>
  </div>
</section>

