<header>


  <!-- Background image -->
  <div id="intro" class="bg-image shadow-2-strong">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
      <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="text-white">

        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="https://i.pinimg.com/564x/4a/f3/bb/4af3bb585bfe083e8650e7306d92c332.jpg" style="height: 580px;width: 550px;" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h4><strong>Slana ponuda</strong></h4>
          <p class="text-muted">
            Predstavlja novu priču ne samo u Bosni i Hercegovini,
            nego u cijeloj regiji. Aplikacija za dostavu raznih vrsta proizvoda,
            namirnica, hrane i sl. Kupci mogu iz udobnosti svog doma, posla ili nekog drugog
            mjesta putem aplikacije koja je brza i besplatna, naručiti bilo koji
            proizvod iz ponude. Dostava stiže na Vašu adresu brzo i jednostavno.
            Svojim gostima nudimo bogat izbor specijaliteta,
            odličnu uslugu. Vrhunski kuhari za vas pripremaju
            različita jela od mesa, ribe, plodova mora, kao i maštovite salate, pizze i sendviče.
          </p>

          <h4><strong>Slatka ponuda</strong></h4>
          <p class="text-muted">
            Proteinske, bezglutenske, čokoladne, s raznim nadjevima…na raspolaganju imate
            desetine različitih vrsta palačinki i slatkih mogućnosti,
            a vjerujemo da koju god opciju da izaberete, nećete pogriješiti."
          </p>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="text-center">
      <h4 class="mb-5"><strong>Dostavljamo sve</strong></h4>

      <div class="row">
        <div class="col-lg-4 col-md-18 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://i.pinimg.com/564x/0a/d6/60/0ad66014d4cb55abee8653a2adb6f65d.jpg" style="height: 249px" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Najbolji restorani u tvom gradu</h5>
              <p class="card-text">
                Uz velik izbor restorana iz kojih možeš naručiti svoju omiljenu hranu ili istraži nove restorane u blizini!
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://media.istockphoto.com/id/1197080864/vector/food-delivery-bike-icon-logo.jpg?s=612x612&w=0&k=20&c=GLJ4aaMWJs-S6C2U-yvmi53uj-oC_2hY_cczyq6NmFQ=" style="height: 225px" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Brza dostava</h5>
              <p class="card-text">
                Brza dostava
                Ponosimo se brzinom. Naruči ili pošalji bilo što u svom gradu, a mi ćemo to preuzeti i dostaviti za nekoliko minuta.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://www.creativefabrica.com/wp-content/uploads/2020/02/11/Food-Logo-Graphics-1-70.jpg" style="height: 249px" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Dostava namirnica i još mnogo toga</h5>
              <p class="card-text">
                Pronađi sve što ti treba! Od supermarketa do trgovina — ako su u tvom gradu, možeš računati na nas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />



  </div>
</main>
<!--Main layout-->





